@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="col-2">
</div>
<div class="container pb-2 col-8 card bg-trans-brown align-content-center"> 
<h1 class="text-light">@ViewData["Title"]</h1>
<div class="card-body container bg-dark">
<p class="text-light">We literally don't read your data.</p>
<p class="text-light">This website just displays D&D information using a free API that can be found <a href="https://www.dnd5eapi.co/docs/?ref=publicapis.dev#overview" target="_blank">right here</a>.</p>
</div>
</div>

