@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row justify-content-center">
    <h1 class="text-light">Learn things about fish here!</h1>
    <h2 class="text-light">I like fish :3</h2>
    <div class="col-6">
        <div class="frame d-flex">
            <iframe width="727"
                    height="409"
                    src="https://www.youtube.com/embed/2SoGk5-rRWA"
                    title="[NEW] 11H Stunning 4K Underwater Wonders - Relaxing Music | Coral Reefs, Fish & Colorful Sea Life"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
        </div>
    </div>
</div>
