@{
    ViewData["Title"] = "Gallery";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OBCM Gallery!</h1>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card bg-info m-2">
                    <img src="~/img/transparent obcm lombg.png" alt="Logo" width="100%" class="d-inline-block align-text-top">
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-info m-2">
                    <img src="~/img/transparent obcm lombg.png" alt="Logo" width="100%" class="d-inline-block align-text-top">
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-info m-2">
                    <img src="~/img/transparent obcm lombg.png" alt="Logo" width="100%" class="d-inline-block align-text-top">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card bg-info m-2">
                    <img src="~/img/transparent obcm lombg.png" alt="Logo" width="100%" class="d-inline-block align-text-top">
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-info m-2">
                    <img src="~/img/transparent obcm lombg.png" alt="Logo" width="100%" class="d-inline-block align-text-top">
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-info m-2">
                    <img src="~/img/transparent obcm lombg.png" alt="Logo" width="100%" class="d-inline-block align-text-top">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card bg-info m-2">
                    <img src="~/img/transparent obcm lombg.png" alt="Logo" width="100%" class="d-inline-block align-text-top">
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-info m-2">
                    <img src="~/img/transparent obcm lombg.png" alt="Logo" width="100%" class="d-inline-block align-text-top">
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-info m-2">
                    <img src="~/img/transparent obcm lombg.png" alt="Logo" width="100%" class="d-inline-block align-text-top">
                </div>
            </div>
        </div>


    </div>
</div>
