@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">OBCM TIME!</h1>
    <p>Learn about <a  asp-area="" asp-controller="Home" asp-action="Gallery">One BrainCell Mommy</a>.</p>
</div>
