*@{
    ViewData["Title"] = "List";
}

<div class="text-center row">
    <h1 class="text-light">Beginning of Fish list</h1>
    <div class="row" id="content-list"></div>
    <h1 class="text-light">End of Fish list</h1>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(()=>{
            getView("Fish","loadfish","#content-list")
        });
    </script>
}