@foreach(var item in Model){
    <div class="card col-3">
        <div class="card-header">
            <img src="@item.SpeciesIllustrationPhoto.Src" alt="@item.SpeciesIllustrationPhoto.Alt" class="card-img-top">
        </div>
    </div>
}